---
import { Image } from 'astro:assets'
import logoNHS from '../assets/brands/nhs.svg'
import logoHiscox from '../assets/brands/hiscox.svg'
import logoMoD from '../assets/brands/mod.svg'
import logoMAA from '../assets/brands/maa.svg'
import logoICA from '../assets/brands/ica.svg'
---

<div>
  <h2 class="text-center text-slate-500">
    Trusted by Startups, SMEs, Governments and Enterprises worldwide.
  </h2>
  <div
    class="flex gap-x-8 gap-y-8 md:gap-10 lg:gap-20 items-center justify-center mt-6 flex-wrap">
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Image class="brand-logo" src={logoNHS} alt="NHS logo" height={40} />
    </div>

    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Image
        class="brand-logo"
        src={logoHiscox}
        alt="Hiscox Insurance logo"
        height={40}
      />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Image
        class="brand-logo"
        src={logoMoD}
        alt="Ministry of Defence logo"
        height={40}
      />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Image
        class="brand-logo"
        src={logoMAA}
        alt="Midlands Aerospace Alliance logo"
        height={40}
      />
    </div>
    <div class="text-gray-500 my-2 h-7 md:h-9">
      <Image
        class="brand-logo"
        src={logoICA}
        alt="The Institute of Canadian Agencies logo"
        height={40}
      />
    </div>
  </div>
</div>

<style>
  .Xbrand-logo {
    max-height: 100%;
    max-width: 100px;
  }
</style>
