---
import { getCollection } from 'astro:content'
import { Picture } from 'astro:assets'
import Layout from '@layouts/Layout.astro'
import Container from '@components/container.astro'
import Sectionhead from '@components/sectionhead.astro'
import Pagination from '@components/pagination.astro'
import Cta from '@components/cta.astro'

// Sort content entries by publication date

export async function getStaticPaths({ paginate }) {
  const PAGE_SIZE = 6
  const allPosts = await getCollection('portfolio', ({ data }) => {
    return !data.draft && data.publishDate < new Date()
  })

  const allSortedPosts = allPosts.sort(function (a, b) {
    return b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
  })

  return paginate(allSortedPosts, {
    pageSize: PAGE_SIZE,
  })
}

const { page } = Astro.props
---

<Layout title="Portfolio" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="badge">Portfolio</Fragment>

      <Fragment slot="title">Samples of Our Work</Fragment>
      <Fragment slot="desc">
        Here's a few projects we would like to share with you. Also find out <a
          class="text-blue-500"
          href="/testimonials">what our clients have to say about us</a
        >.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 lg:gap-16">
        {
          page.data.map((post, index) => (
            <li>
              <a href={`/portfolio/${post.slug}`}>
                <div>
                  <Picture
                    formats={['avif', 'webp']}
                    src={post.data.cover}
                    alt={post.data.title}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? 'eager' : 'lazy'}
                    decoding={index <= 2 ? 'sync' : 'async'}
                    class="w-full rounded-md object-cover"
                    transition:name={`post-img-${post.slug}`}
                  />
                  <div class="mt-4">
                    <h2 class="text-xl font-semibold leading-snug tracking-tight mt-1">
                      {post.data.title}
                    </h2>
                    <span class="text-blue-500 uppercase tracking-wider text-xs font-medium">
                      {post.data.tags.join(', ')}
                    </span>
                    <div class="flex gap-2 mt-3 text-sm">
                      <span class="text-gray-400">{post.data.snippet}</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <Pagination url={page.url} />
    </main>
  </Container>
  <Cta />
</Layout>
